Samiksha Nodered flow.json
[{"id":"431f0a0a.d383e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4cbe9073.62e9c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6e66ad11.c02e34","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2131c4e7.26166c","type":"ui_group","z":"","name":"News seach","tab":"44143a80.6b9b24","order":1,"disp":true,"width":"14","collapse":false},{"id":"44143a80.6b9b24","type":"ui_tab","z":"","name":"WATSON DISCOVERY NEWS","icon":"dashboard","disabled":false,"hidden":false},{"id":"a793d7bb.105f98","type":"ui_group","z":"","name":"SEARCH NEWS","tab":"44143a80.6b9b24","order":2,"disp":true,"width":"6","collapse":false},{"id":"39976fdc.4815d","type":"ui_group","z":"","name":"News seach","tab":"472ca54e.cff2ac","order":1,"disp":true,"width":"14","collapse":false},{"id":"472ca54e.cff2ac","type":"ui_tab","z":"","name":"World Docker","icon":"dashboard","disabled":false,"hidden":false},{"id":"52fadb7e.f455f4","type":"ui_tab","z":"","name":"WATSON DISCOVERY NEWS SEARCH","icon":"dashboard","disabled":false,"hidden":false},{"id":"2161dc3c.da0634","type":"ui_group","z":"","name":"SAMIKSHA DISCOVERY SEARCH","tab":"52fadb7e.f455f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"ccf8f97e.fa96f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a1251d0.0bf28e","type":"ui_group","z":"","name":"jp","tab":"3a9cb5f9.b25fba","order":1,"disp":true,"width":"14","collapse":false},{"id":"3a9cb5f9.b25fba","type":"ui_tab","z":"","name":"Home","icon":"newsapp","disabled":false,"hidden":false},{"id":"56dc8814.104798","type":"ui_group","z":"","name":"jp","tab":"155c9c76.d17804","order":1,"disp":true,"width":"14","collapse":false},{"id":"155c9c76.d17804","type":"ui_tab","z":"","name":"Home","icon":"newsapp","disabled":false,"hidden":false},{"id":"dd4f69d.9bb1798","type":"ui_group","z":"","name":"jp","tab":"53c4ba97.45f3b4","order":1,"disp":true,"width":"14","collapse":false},{"id":"53c4ba97.45f3b4","type":"ui_tab","z":"","name":"Home","icon":"newsapp","disabled":false,"hidden":false},{"id":"21e86f00.ce3362","type":"ui_group","z":"","name":"jp","tab":"22092ca1.297a74","order":1,"disp":true,"width":"14","collapse":false},{"id":"22092ca1.297a74","type":"ui_tab","z":"","name":"Home","icon":"newsapp","disabled":false,"hidden":false},{"id":"f63ec3eb.c8c1d","type":"ui_group","z":"","name":"jp","tab":"26e4c7e6.7fa048","order":1,"disp":true,"width":"14","collapse":false},{"id":"26e4c7e6.7fa048","type":"ui_tab","z":"","name":"Home","icon":"newsapp","disabled":false,"hidden":false},{"id":"5aed3e80.36f78","type":"ui_form","z":"431f0a0a.d383e4","name":"","label":"","group":"a793d7bb.105f98","order":1,"width":"14","height":"4","options":[{"label":"Search for News","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":100,"wires":[["e5dd53f6.62d3e"]]},{"id":"e5dd53f6.62d3e","type":"function","z":"431f0a0a.d383e4","name":"Query processing","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["31668a56.4d7356"]]},{"id":"fe04b882.6b1098","type":"function","z":"431f0a0a.d383e4","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["bfe538e1.4ef5d8"]]},{"id":"31668a56.4d7356","type":"watson-discovery-v1","z":"431f0a0a.d383e4","name":"news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"term(enriched_text.sentiment.document.label,count:10)","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/87f4a8e2-e796-48a0-9b75-6e163b1b0195","x":290,"y":240,"wires":[["fe04b882.6b1098","aa0c7e15.7edab","571e76af.43fa88","1f7d6524.dda48b","b3bf829e.485df","aa5f843e.b32ba8","546c3db7.7bccc4"]]},{"id":"bfe538e1.4ef5d8","type":"ui_text","z":"431f0a0a.d383e4","group":"a793d7bb.105f98","order":5,"width":"14","height":"5","name":"","label":"search result","format":"{{msg.payload}}","layout":"col-center","x":730,"y":120,"wires":[]},{"id":"1f7d6524.dda48b","type":"function","z":"431f0a0a.d383e4","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["464b6bd2.cae6c4"]]},{"id":"aa0c7e15.7edab","type":"function","z":"431f0a0a.d383e4","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["11e1ee97.9b3e01"]]},{"id":"aa5f843e.b32ba8","type":"function","z":"431f0a0a.d383e4","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["35b0e0c4.feebc"]]},{"id":"571e76af.43fa88","type":"function","z":"431f0a0a.d383e4","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["2b1edc1f.7461f4"]]},{"id":"b3bf829e.485df","type":"function","z":"431f0a0a.d383e4","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["1cfc27f1.9e4748"]]},{"id":"1cfc27f1.9e4748","type":"ui_text","z":"431f0a0a.d383e4","group":"a793d7bb.105f98","order":8,"width":"14","height":"3","name":"","label":"label","format":"{{msg.payload}}","layout":"col-center","x":710,"y":320,"wires":[]},{"id":"464b6bd2.cae6c4","type":"ui_text","z":"431f0a0a.d383e4","group":"a793d7bb.105f98","order":4,"width":"14","height":"3","name":"","label":"url","format":"{{msg.payload}}","layout":"col-center","x":710,"y":240,"wires":[]},{"id":"11e1ee97.9b3e01","type":"ui_text","z":"431f0a0a.d383e4","group":"a793d7bb.105f98","order":2,"width":"14","height":"3","name":"","label":"author","format":"{{msg.payload}}","layout":"col-center","x":710,"y":160,"wires":[]},{"id":"35b0e0c4.feebc","type":"ui_text","z":"431f0a0a.d383e4","group":"a793d7bb.105f98","order":3,"width":"14","height":"3","name":"","label":"main page url","format":"{{msg.payload}}","layout":"col-center","x":740,"y":200,"wires":[]},{"id":"2b1edc1f.7461f4","type":"ui_gauge","z":"431f0a0a.d383e4","name":"","group":"a793d7bb.105f98","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":280,"wires":[]},{"id":"ee7187e1.d0f738","type":"function","z":"431f0a0a.d383e4","name":"retrival","func":"msg.payload=\n[\n    {\n        \"series\":[\"News\"],\n        \"data\":[msg.payload[0],msg.payload[1],msg.payload[2]],\n        \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["6175e148.d43a9"]]},{"id":"6175e148.d43a9","type":"ui_chart","z":"431f0a0a.d383e4","name":"","group":"a793d7bb.105f98","order":8,"width":"12","height":"9","label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":360,"wires":[[]]},{"id":"546c3db7.7bccc4","type":"function","z":"431f0a0a.d383e4","name":"sentiment","func":"var val=[msg.search_results.aggregations[0].results[0].matching_results];\nval.push(msg.search_results.aggregations[0].results[1].matching_results);\nval.push(msg.search_results.aggregations[0].results[2].matching_results);\nmsg.payload=val;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["ee7187e1.d0f738"]]},{"id":"ab076cf8.0ef9c","type":"ui_form","z":"6e66ad11.c02e34","name":"","label":"","group":"2161dc3c.da0634","order":1,"width":"14","height":"4","options":[{"label":"Enter the input","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":240,"wires":[["89e33008.77d85"]]},{"id":"89e33008.77d85","type":"function","z":"6e66ad11.c02e34","name":"","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":240,"wires":[["ebede41.e989318"]]},{"id":"a721dd0b.e3ff6","type":"function","z":"6e66ad11.c02e34","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["371c593d.cf0116","b9b90504.8fee28"]]},{"id":"ebede41.e989318","type":"watson-discovery-v1","z":"6e66ad11.c02e34","name":"discovery","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/87f4a8e2-e796-48a0-9b75-6e163b1b0195","x":380,"y":220,"wires":[["a721dd0b.e3ff6","c81926b.3991fd8","875cd91e.428878","e51aac53.69107","878169cc.dceee8","54edebf4.d73ef4","4be10697.2d8b08","a1648029.17376"]]},{"id":"371c593d.cf0116","type":"ui_text","z":"6e66ad11.c02e34","group":"2161dc3c.da0634","order":5,"width":"14","height":"2","name":"","label":"search result","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":60,"wires":[]},{"id":"c81926b.3991fd8","type":"debug","z":"6e66ad11.c02e34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]},{"id":"b9b90504.8fee28","type":"debug","z":"6e66ad11.c02e34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":120,"wires":[]},{"id":"a1648029.17376","type":"sentiment","z":"6e66ad11.c02e34","name":"","property":"payload","x":280,"y":440,"wires":[["dfed7152.a4419","d7cbdd9e.54de","d0f03fb1.dc3e7","116981d.168be7e"]]},{"id":"d7cbdd9e.54de","type":"function","z":"6e66ad11.c02e34","name":"sentiment","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["227d0de8.150862"]]},{"id":"dfed7152.a4419","type":"debug","z":"6e66ad11.c02e34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":360,"wires":[]},{"id":"d0f03fb1.dc3e7","type":"function","z":"6e66ad11.c02e34","name":"positive","func":"msg.payload=msg.sentiment.positive.length;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["ef8a2799.d3bd88"]]},{"id":"116981d.168be7e","type":"function","z":"6e66ad11.c02e34","name":"negative","func":"msg.payload=msg.sentiment.negative.length;\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":520,"wires":[["8e394688.0ddb28"]]},{"id":"227d0de8.150862","type":"ui_chart","z":"6e66ad11.c02e34","name":"","group":"2161dc3c.da0634","order":9,"width":"3","height":"5","label":"sentimental score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":420,"wires":[[]]},{"id":"ef8a2799.d3bd88","type":"ui_chart","z":"6e66ad11.c02e34","name":"","group":"2161dc3c.da0634","order":10,"width":"3","height":"5","label":"positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#80ff00","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":460,"wires":[[]]},{"id":"8e394688.0ddb28","type":"ui_chart","z":"6e66ad11.c02e34","name":"","group":"2161dc3c.da0634","order":11,"width":"3","height":"5","label":"negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":520,"wires":[[]]},{"id":"878169cc.dceee8","type":"function","z":"6e66ad11.c02e34","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["e81317b9.a79818"]]},{"id":"875cd91e.428878","type":"function","z":"6e66ad11.c02e34","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["f6c9b6fd.d0e3d8"]]},{"id":"4be10697.2d8b08","type":"function","z":"6e66ad11.c02e34","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["44a45eb5.b93ce"]]},{"id":"e51aac53.69107","type":"function","z":"6e66ad11.c02e34","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["3620763.1c0a08a"]]},{"id":"54edebf4.d73ef4","type":"function","z":"6e66ad11.c02e34","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["603933a4.3c209c"]]},{"id":"603933a4.3c209c","type":"ui_text","z":"6e66ad11.c02e34","group":"2161dc3c.da0634","order":8,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":300,"wires":[]},{"id":"e81317b9.a79818","type":"ui_text","z":"6e66ad11.c02e34","group":"2161dc3c.da0634","order":4,"width":"14","height":"3","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":220,"wires":[]},{"id":"f6c9b6fd.d0e3d8","type":"ui_text","z":"6e66ad11.c02e34","group":"2161dc3c.da0634","order":2,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":140,"wires":[]},{"id":"44a45eb5.b93ce","type":"ui_text","z":"6e66ad11.c02e34","group":"2161dc3c.da0634","order":3,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":180,"wires":[]},{"id":"3620763.1c0a08a","type":"ui_gauge","z":"6e66ad11.c02e34","name":"","group":"2161dc3c.da0634","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":280,"wires":[]}]